.container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
}

.card {
  background: #1e272e;
  border-radius: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  background: #ddd;
  outline: none;
  border: none;
}

;

.title {
  margin: 6px 0px;
  color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  flex: 1 1 auto;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  background: #2980b9;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

span {
  color: #fff;
  font-size: 12px;
}