.grid{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.item{
    
}



/* body {
    font-family: Copperplate;
    background-color: #f4f4f4;
    margin: 0;
}

center {
    text-align: center;
}

h1 {
    color: #6ca4d5;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #4579b5;
    font-weight: bold;
}

a:hover {
    color: #2d2865;
} */
